[Desktop Entry]
Name=An Anime Game Launcher
Icon=moe.launcher.an-anime-game-launcher
Exec=an-anime-game-launcher
Type=Application
Categories=Game
Terminal=false
